.App {
  text-align: center;
  font-family: 'American Typewriter';
  align-content: center;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.addTask button {
  text-align: center;
  font-family: 'American Typewriter';
  align-content: center;
  align-self: center;
  align-items: center;
  color: rgba(152, 59, 178, 0.984);
  background-color: white;
}

.addTask input {
  font-family: 'American Typewriter';
  background-color: rgba(152, 59, 178, 0.984);
  color: white;
}

.list p {
  background-color: rgba(152, 59, 178, 0.984);
  color: white;
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

.task {
  width: 25;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: rgba(152, 59, 178, 0.984);
  color: white;
  padding-bottom: 15px;
  word-wrap: break-word;
}



.task button {
  margin-left: 10px;
  margin-top: 5px;
  height: 25px;
  width: auto;
  text-align: center;
  background-color: #983bb2fb;
  font-family: 'American Typewriter';
  color: white;
}

.footer {
  font-size: xx-small;
  color: gray;
  padding-top: 25%;
}

.footer a {
  font-size: xx-small;
  margin-top: 75%;
  color: #983bb2fb;
}